.dim {
  z-index: 10;
  position: absolute;
  left: 0;
  margin-left: -1500px;
  right: 0;
  margin-right: -1500px;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.6;
}
.end-game-confirm {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #fff;
  width: 200px;
  height: 130px;
  text-align: center;
  z-index: 999;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 6px;
}
.end-game-confirm button {
  margin-top: 10px;
}
.my-modal {
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  text-align: center;
  margin: 0 auto;
  height: auto;
  top: 30%;
  margin-top: -100px;
  background-color: whitesmoke;
  z-index: 999;
  padding: 40px;
  font-size: 1.5em;
  border-radius: 6px;
}
.my-modal p {
  padding-bottom: 20px;
}
.action-game-ended {
  position: absolute;
  background: #fff;
  width: 60%;
  left: 50%;
  top: 20px;
  border-radius: 6px;
  margin-left: -30%;
  padding: 0 40px 40px 40px;
}
.action-game-ended img {
  width: 100%;
  margin-bottom: 20px;
}
.action-audio-backround {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}
.lyrics {
  font-size: 3em;
  line-height: 1.2;
  color: #fff;
  position: absolute;
  bottom: 0;
  padding: 50px;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 0px black;
}
.action-images-next {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.game-row {
  position: relative;
  height: 100%;
}
.game-row .media-view {
  height: 45%;
  background-size: cover;
  background-position: center center;
  border-right: 1px solid #e5e5e5;
}
.game-row .media-view .plain-question-box {
  margin-top: 10px;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: #fff;
  font-size: 2em;
  border: 2px solid #fff;
  text-shadow: 1px 1px 0px black;
}
.game-row .media-view .media-controls {
  z-index: 555;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  border: 1px solid whitesmoke;
  border-radius: 6px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}
.game-row .media-view .media-controls h3 {
  text-shadow: 1px 1px 1px black;
}
.game-row .media-view .media-controls .progress {
  margin: 0 20px;
}
.game-row .media-view .media-controls .progress .marker {
  width: 1px;
  height: 20px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
}
.game-row .media-view .question-index {
  position: absolute;
  bottom: 40px;
  right: 0;
  padding: 10px;
  color: #fff;
  text-shadow: 0px 1px 1px #000000;
  background-color: #000000;
}
.game-row .media-view .caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  color: #fff;
  text-shadow: 0px 1px 1px #000000;
  background-color: rgba(0, 0, 0, 0.3);
}
.game-row .question-view {
  border-left: 1px solid #e5e5e5;
  height: 55%;
}
.game-row .question-view button {
  white-space: normal;
  font-weight: bold;
  margin: 5px 0;
}
.game-row .question-view .question-box {
  float: left;
  width: 100%;
  padding: 15px;
  border-radius: 6px;
  border: 1px solid #fbeed5;
  font-size: 1.3em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0.1rem 0.1rem 0.1rem rgba(0, 0, 0, 0.4);
  margin: 20px 0;
  text-align: center;
}
.game-row .question-view .btn-score {
  font-size: 1.3em;
  height: 75px;
  text-transform: uppercase;
}
.game-row .question-view .answers-box {
  float: left;
  margin: 0 auto 15px auto;
  padding-bottom: 15px;
  text-align: center;
  width: 100%;
}
.game-row .question-view .answers-box .disabled,
.game-row .question-view .answers-box .btn[disabled] {
  opacity: 1;
}
.game-row .question-view .answers-box button {
  font-size: 1.3em;
  height: 75px;
  text-transform: uppercase;
}
.game-row .question-view .answers-box .btn-default {
  background-color: silver;
}
.game-row .question-view .scores {
  padding-bottom: 15px;
}
.game-row .question-view .scores h1 {
  text-align: center;
}
.game-row .question-view .scores button {
  margin-bottom: 10px;
}
.game-row .question-view .scores img {
  width: 100%;
  padding: 20px 40px;
}
.game-row .question-view .scores .alert {
  text-align: center;
}
.game-row .question-view .scores .alert h3 {
  margin-top: 0;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
html,
body {
  padding: 0;
  height: 100%;
  overflow-x: hidden;
}
html .navbar,
body .navbar {
  margin-bottom: 0;
}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.header a {
  cursor: default;
}
.header .navbar-nav a {
  cursor: pointer;
}
.header .navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
}
.header .navbar-collapse.collapse {
  display: block!important;
}
.header .navbar-nav > li,
.header .navbar-nav {
  float: left !important;
}
.header .navbar-nav.navbar-right:last-child {
  margin-right: -15px !important;
}
.header .navbar-right {
  float: right!important;
}
.container {
  display: block;
  position: relative;
  height: calc(100% - 53px);
}
.container #ng-view {
  height: 100%;
}
.container-narrow > hr {
  margin: 30px 0;
}
.game-entry {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 6px;
}
.game-entry:after {
  content: "";
  height: 20px;
}
.game-entry span {
  display: block;
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  bottom: 0;
  padding: 30px 5px;
  line-height: 25px;
  text-align: center;
  font-size: 1.7em;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 6px;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  .game-entry {
    height: 225px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 6px;
  }
  .game-entry span {
    display: block;
    position: absolute;
    bottom: 10px;
    top: 150px;
    left: 15px;
    right: 15px;
    padding: 13px 10px;
    text-align: center;
    font-size: 1.2em;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .my-modal {
    width: 700px;
  }
  .game-row {
    height: 100%;
  }
  .game-row .media-view {
    height: 100%;
  }
  .game-row .media-view .caption {
    padding: 20px;
  }
  .game-row .media-view .question-index {
    bottom: 60px;
  }
  .game-row .question-view {
    height: 100%;
  }
  .game-row .question-view .question-box {
    font-size: 1.7em;
  }
}
